.basicInfo{
    height: auto;
    grid-row: 1/2;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px; 
}

.title, .info, .manager, .employeeName {
    font-family: 'Roboto';
}

.title, .info{
    font-size: 17px;
    margin: 20px 0px;
    display: inline-block;
}

.employeeName{
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    width: 300px;
    text-align: center;
}

.employeeImage{
    object-fit: contain;
    width: 100px;
    vertical-align: middle;
    margin-bottom: 20px;
}


.button{
    margin-top: 30px;
}

.content{
    width: auto;
    position: relative;         /* i'm using position: relative because im trying to center this element in a container that uses vw units*/
    left: -7px;
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputContainer{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.inputBox{
    font-family: 'Roboto';
    font-weight: 600;
}
.header{
    font-family: 'Roboto';
    font-size: 25px;
    text-align: center;
}

.desc{
    align-self: center;
    font-family: 'Roboto';
    font-size: 15px;
    width: 250px;
    margin-bottom: 20px;
}

.close{
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 35px;
    align-self: flex-end;
}

.close:hover{
    color: grey;
    transform: scale(1.2, 1.2);   
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 33, 33, 0.7);
    width: 100vw;
    height: 100vh;
}
    
.link{
    align-self: flex-end;
    text-decoration-line: none;
}

@media(max-width: 1050px){
    .basicInfo{
        width: 300px;

    }  
    .employeeName{
        width: 200px;
    }
}


@media(max-width: 850px){
    .basicInfo{
        width: 270px;
    }
    .employeeName{
        width: 170px;
    }
}

@media(max-width: 775px){
    .basicInfo{
        grid-row: initial;
    }
}

@media(max-width: 500px){
    .input{
        width: 150px;
    }
    .content{
        width: 350px;
    }
    .inputContainer{
        grid-template-columns: repeat(2, 150px);
    }

}

@media(max-width: 425px){
    .content{
        width: 280px;
    }
    .inputContainer{
        grid-template-columns: repeat(2, 130px);
    }
    .input{
        width: 130px;
    }
}


@media(max-width: 415px){
    .basicInfo{
        width: 250px
    }
    .employeeName{
        width: 150px;
        font-size: 25px;
    }
}

