
.department{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px;   
}

.department{
    height: 700px;
    grid-row: 2/4;
}

.title, .manager, .coworkers, 
.departmentTitle, .departmentInfo {
    font-family: 'Roboto';
}


.departmentTitle, .departmentInfo{
    font-size: 30px;
    display: inline-block;
}

.coworkerContainer{
    width: 200px;
    margin: 20px 0px;
}


.manager, .coworkers{
    display: inline-block;
    margin: 0px 20px;
}


.coworkersImage, .managersImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}

.inputContainer{
    font-family: 'Roboto';
    font-weight: 600;
    margin: 10px 0px;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 33, 33, 0.7);
    width: 100vw;
    height: 100vh;
}


.content{
    position: relative;
    left: -7px;
    width: 290px;
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.desc{
    font-family: 'Roboto';    
    margin-top: 20px;
}

.link{
    align-self: flex-end;
}

.close{
    font-size: 25px;
    transition: all 0.4 ease-in;
    cursor: pointer;
}

.close:hover{
    transform: scale(1.2, 1.2);
    color: grey;
}


@media (max-width: 1050px){
    .department{
        width: 300px;
    }
}

@media(max-width: 850px){
    .department{
        width: 270px;
    }
}

@media(max-width: 775px){
    .department{
        grid-row: initial;
    }
}

@media(max-width: 415px){
    .department{
        width: 250px
    }
}