.uploadContainer{
    margin: 30px 0px;
}

.filesUploaded{
    font-family: "Roboto";
}

.fileNames{
    font-family: "Roboto";
}

.uploadTitle{
    font-family: "Roboto";
    text-align: center;
    margin: 30px 0px;
}