.loginContainer{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 400px;
    margin: auto;
}

.logo{
    font-family: 'Roboto';
    color: grey;
}

.title{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 900;
    margin: 20px 0px;
    text-align: center;
}

.desc, .becomeAdminToday{
    font-family: 'Roboto';
}

.becomeAdminToday{
    text-decoration-line: underline;
    color: blue;
    cursor: pointer;
}

.becomeAdminToday:hover{
    color: black;
}

@media (max-width: 510px){
    .loginContainer{
        width: 80%;
    }
}