@font-face {
    font-family: 'Roboto';
    src: url('./FontFiles/Roboto.ttf');
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 1px solid transparent;                                  /* for margin collapse*/
    background-image: url('./images/purple waves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}

html{
    min-height: 100vh;
}