.accountContainer{
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 400px; 
}

.welcome{
    font-family: "Roboto";
    font-size: 40px;
    align-self: center;
    text-align: center;
}

.desc{
    font-family: "Roboto";
}

.companyName{
    font-family: "Roboto";
    color: grey;
}