.gridContainer{
    display: grid;
    grid-template-columns: 480px 480px;
    justify-content: space-evenly;
    gap: 40px;
    margin: auto;
    margin-top: 30px;
}

.loadingBasicInfo{
    grid-row: 1/2;
    background-color: white;
    width: 482px;
    height: 800px;
    border-radius: 20px;
    overflow: hidden;
}

.loadingBox{
    display: grid;
    width: 300px;
    margin: auto;
    padding: 40px;
    grid-template-columns: auto 200px;
    align-items: center;
}


.loadingBarContainer{
    grid-column: 1/3;
    padding: 20px 0px;
}

.loadingBarSmallContainer{
    grid-column: 1/3;
    padding: 10px 0px;
}


.loadingProjects{
    grid-row: 1/3;
    background-color: white;
    width: 482px;
    height: 1000px;
    border-radius: 20px;
    overflow: hidden;
}

.loadingTask{
    border-radius: 20px;
    grid-column: 1/3;
    border: 1px solid #0000001C;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.loadingCoworkers{
    grid-row: 2/4;
    background-color: white;
    width: 482px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.coworkerContainer{
    margin-bottom: 20px;
}

@media(max-width: 1050px) {
    .gridContainer{
        grid-template-columns: repeat(2, 380px);
    }

    .loadingCoworkers, .loadingProjects, .loadingBasicInfo{
        width: 100%; 
    }
}

@media (max-width: 850px){
    .gridContainer{
        grid-template-columns: repeat(2, 350px);
    }
}

@media(max-width: 775px){
    .gridContainer{
        grid-template-columns: 350px;
    }
    .loadingBasicInfo, .loadingProjects, .loadingCoworkers {
        grid-row: initial;
        grid-column: initial;
    }
}

@media(max-width: 415px){
    .gridContainer{
        grid-template-columns: 330px;
    }
}
