.profile{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 1000px;
    gap: 40px;
}

.basicInfo{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    height: 800px;
}

.coworkerContainer{
    width: 150px;
    margin: 20px 0px;
}

.title, .info, .manager, .coworkers, .employeeName{
    font-family: 'Roboto';
}

.title, .info{
    margin: 20px 0px;
    display: inline-block;
}

.manager, .coworkers{
    display: inline-block;
    margin: 0px 20px;
}

.employeeName{
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.employeeImage{
    object-fit: contain;
    width: 100px;
    vertical-align: middle;
}

.coworkersImage, .managersImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}



.departmentInfo{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    height: 600px;
}


