.profile{
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    height: 1000px;
    gap: 40px;
}

/* ----------------white containers---------------*/

.basicInfo, .departmentInfo, .projects{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px;   
}

.basicInfo{
    height: 800px;
}

.departmentInfo{
    height: 600px;
}

.projects{
    height: 800px;
}



/*-------------setting the font for all text in the document------------- */
.title, .info, .manager, 
.coworkers, .employeeName, 
.projectTitle, .projectDesc{
    font-family: 'Roboto';
}

/* ----------all white containters will use these two classes--------------*/
.title, .info{
    margin: 20px 0px;
    display: inline-block;
}


/*-----------------------profile section--------------*/
.employeeName{
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.employeeImage{
    object-fit: contain;
    width: 100px;
    vertical-align: middle;
}






/*------------department Info section------------------*/

.coworkerContainer{
    width: 150px;
    margin: 20px 0px;
}


.manager, .coworkers{
    display: inline-block;
    margin: 0px 20px;
}


.coworkersImage, .managersImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}



