.profile{
    display: grid;
    grid-template-columns: repeat(2, 480px);
    justify-content: center;
    height: 1000px;
    gap: 40px;
}

/* ----------------white containers---------------*/

.basicInfo, .department, .projects{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
    width: 400px;   
}

.basicInfo{
    height: 800px;
    grid-row: 1/2;
}

.department{
    height: 700px;
    grid-row: 2/4;
}

.projects{
    height: 1200px;
    grid-row: 1/3;
}



/*-------------setting the font for all text in the document------------- */
.title, .info, .manager, 
.coworkers, .employeeName, 
.projectTitle, .projectDesc,
.taskTitle, .workingHoursTitle,
.workingHoursInfo, .departmentTitle,
.departmentInfo, .taskInfo{
    font-family: 'Roboto';
}

/* ----------all white containters will use these two classes--------------*/
.title, .info, .taskInfo{
    font-size: 17px;
    margin: 20px 0px;
    display: inline-block;
}


/*-----------------------profile section--------------*/
.employeeName{
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.employeeImage{
    object-fit: contain;
    width: 100px;
    vertical-align: middle;
}






/*------------department Info section------------------*/

.departmentTitle, .departmentInfo{
    font-size: 30px;
    display: inline-block;
}

.coworkerContainer{
    width: 150px;
    margin: 20px 0px;
}


.manager, .coworkers{
    display: inline-block;
    margin: 0px 20px;
}


.coworkersImage, .managersImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}



/*------ project section------ */

.progressTitle{
    font-family: 'Roboto';
    color: grey;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.taskContainer{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    width: 95%;
    margin: 30px auto;
}

.workingHoursTitle, .workingHoursInfo{
    display: inline-block;
    font-size: 15px;
}

.workingHoursTitle{
    margin-bottom: 20px
}

.buttons{
    margin-top: 30px;
}